<div class="login-bg" id="login">
    <div class="login-wrap">
        <div class="login-cont">
            <ul class="login-layout">
                <li class="name"><input type="text" key="username" name="name" autocomplete="off" class="name" maxlength="20"></li>
                <input type="hidden" />
                <li class="mima"><input type="password" key="password"  value="" autocomplete="no" class="password" maxlength="20"></li>
                <li class="subbtn"><input type="submit" name="sub" id="submitBtn" value=""><a href="#" class="forget">忘记密码？</a> </li>
            </ul>
        </div><!--login-cont-->
    </div>
</div>

<script>
window.onkeydown = function(){
 if (event.keyCode==13)  //回车键的键值为13
   document.getElementById("submitBtn").click(); //调用登录按钮的登录事件
}
</script>