<span id="wrap">
        <div class="top ">
            <img src="images/logo.png" width="305" height="38" class="logo" alt="logo">
        <div class="top-nav">
                <ul class="nav-list">
                    <li class="active switch-btn manage"><a href="#/manage/station"><img src="images/nav-1.png"><span>实时数据</span></a></li>
                    <li class="switch-btn qurey"><a href="#/qurey/qureyStation"><img src="images/nav-2.png"><span>查询</span></a></li>
                    <li class="switch-btn report"><a href="#/report/batteryLife"><img src="images/nav-3.png"><span>报表</span></a></li>
                    <li class="switch-btn settings"><a href="#/settings/stationInfo/tree"><img src="images/nav-4.png"><span>设置</span></a></li>
                    <li class="switch-btn"><a id="about" href="javascript:void(0)"><img src="images/nav-5.png"><span>关于</span></a></li>
                    <li class="switch-btn"><a target="_blank" href="/help.html"><img src="images/nav-6.png"><span>帮助</span></a></li>
                </ul>
                <div class="user" id="switchUser"><img src="images/user-img.png"><span>切换用户</span> </div><!--user-->
                <span class="exit" id="logout"><span>退出系统</span></span>
            </div><!--top-nav-->
            <div class="clear"></div>
        </div><!--top-->
        <div class="wrap" id="main"></div><!--wra-->
        <div class="bottom">
            <ul class="bottom-list">
                <li>
                    <b class="yx-show" title="显示树形图"><i class="icon yunxing"></i>树形图</b>
                    <b class="bottom-show" title="显示趋势图"><i class="icon yunxing2"></i>趋势图</b>
                    <span>系统启动时间：<i id="stat_sys_uptime">08：08：08</i></span></li>
                <li><span>当前用户：<i id="stat_manager">XXXX</i></span></li>
                <li><span>登陆时间：<i id="stat_login_time">11：22：52</i></span></li>
                <li><span id="realtime">2015年11月30日&nbsp;&nbsp;16:00&nbsp;&nbsp;星期六</span></li>
            </ul>
        </div><!--bottom-->

    </span>
